In [1]:
import pandas as pd
from datetime import datetime

In [2]:
today = datetime.today().strftime('%y_%m_%d_')
date = "23_02_07_"

In [3]:
cust_behaviour = pd.read_csv("model_eval/cust_behaviour.csv")
cust_behaviour = cust_behaviour.drop(['Unnamed: 0'], axis=1)
cust_behaviour.head()

,t1_buy,t2_buy,t3_buy,t1_prom,t2_prom,t3_prom,p_no_prom,size_no_prom,p_prom,size_prom
0,0,0,0,0,0,0,0.100,91.148432,0.108663,117.402849
1,0,0,0,0,0,1,0.075,103.253110,0.086212,108.424488
2,0,0,0,0,1,0,0.250,115.320971,0.255749,105.969691
3,0,0,0,0,1,1,0.200,88.985190,0.213235,87.371531
4,0,0,0,1,0,0,0.300,78.799490,0.337345,94.609321

In [4]:
test_orders_features = pd.read_csv("models/" + date +"test_set_orders.csv")
test_orders_features.head()

,Unnamed: 0,t1_buy,t2_buy,t3_buy,t1_prom,t2_prom,t3_prom,p_no_prom,size_no_prom,p_prom,...,prom_1100,prom_1000,prom_0111,prom_0011,prom_0101,prom_0110,prom_0001,prom_0010,prom_0100,prom_0000
0,6,0,0,0,1,1,0,0.400,72.365385,0.437139,...,False,False,False,True,False,False,False,False,False,False
1,34,1,0,0,0,1,0,0.450,81.606054,0.487102,...,False,False,False,False,False,False,False,False,False,False
2,26,0,1,1,0,1,0,0.350,86.460373,0.404319,...,False,False,False,False,False,False,False,True,False,False
3,40,1,0,1,0,0,0,0.225,89.715998,0.237932,...,False,True,False,False,False,False,False,False,False,False
4,41,1,0,1,0,0,1,0.200,101.820676,0.211898,...,False,False,False,False,False,False,False,False,True,False

In [5]:
train_orders = pd.read_csv("models/" + date +"training_set_orders.csv")
train_orders.head()

,Unnamed: 0,t1_buy,t2_buy,t3_buy,t1_prom,t2_prom,t3_prom,p_no_prom,size_no_prom,p_prom,size_prom,prom,has_bought,size,t1_size,t2_size,t3_size
0,45,1,0,1,1,0,1,0.350,79.450642,0.396566,95.522424,1,0,0.000000,109.729009,0.000000,91.698839
1,0,0,0,0,0,0,0,0.100,91.148432,0.108663,117.402849,0,0,0.000000,0.000000,0.000000,0.000000
2,17,0,1,0,0,0,1,0.225,89.536256,0.256272,106.652191,0,0,0.000000,0.000000,75.506783,0.000000
3,20,0,1,0,1,0,0,0.450,65.082636,0.472873,84.144191,1,1,72.704032,0.000000,62.538260,0.000000
4,20,0,1,0,1,0,0,0.450,65.082636,0.472873,84.144191,0,0,0.000000,0.000000,73.657479,0.000000

In [6]:
# deskriptive Statistiken,
print("Erwartetes Kaufverhalten")
print("Durch Kaufwahrscheinlichkeit OHNE Werbung: " + str(test_orders_features["p_no_prom"].mean()))

print("Durch Kaufwahrscheinlichkeit MIT  Werbung: " + str(test_orders_features["p_prom"].mean()))

print("Standardabweichung Kaufwahrscheinlichkeiten OHNE Werbung: " + str(test_orders_features["p_no_prom"].std()))

print("Standardabweichung Kaufwahrscheinlichkeiten MIT  Werbung: " + str(test_orders_features["p_prom"].std()))

print("Durch Warenkorb OHNE Werbung: " + str(test_orders_features["size_no_prom"].mean()))

print("Durch Warenkorb MIT  Werbung: " + str(test_orders_features["size_prom"].mean()))
                                             
print("Standardabweichung Warenkorb OHNE Werbung: " + str(test_orders_features["size_no_prom"].std()))

print("Standardabweichung Warenkorb MIT  Werbung: " + str(test_orders_features["size_prom"].std()))

test_orders_features["exp_rev_no_prom"] = test_orders_features["p_no_prom"] * test_orders_features["size_no_prom"]
print("Erwarteter Umsatz OHNE Werbung: " + str(test_orders_features["exp_rev_no_prom"].mean()))

test_orders_features["exp_rev_prom"] = test_orders_features["p_prom"] * test_orders_features["size_prom"]
print("Erwarteter Umsatz MIT  Werbung: " + str(test_orders_features["exp_rev_prom"].mean()))

print(" ")

print("Tatsächliches Kaufverhalten")
print("1/2 der 10.000 Kunden wurde beworben")
print("Anzahl Einkäufe: " + str(test_orders_features["has_bought"].sum()))
print("Umsatz: " + str(test_orders_features["size"].sum()))
print("durch Warenkorb: " + str(test_orders_features["size"].sum() / test_orders_features["has_bought"].sum()))
print("Einkäufe in %: " + str(test_orders_features["has_bought"].sum()/100))
print("Standardabweichung Einkäufe: " + str(test_orders_features[test_orders_features["has_bought"]==1]["size"].std()))
print(" ")
print("Verhalten der Kunden die Werbung bekommen haben")
print("Anzahl Einkäufe: " + str(test_orders_features[test_orders_features["prom"]==1]["has_bought"].sum()))
print("Umsatz: " + str(test_orders_features[test_orders_features["prom"]==1]["size"].sum()))

print(" ")
print("Verhalten der Kunden die KEINE Werbung bekommen haben")
print("Anzahl Einkäufe: " + str(test_orders_features[test_orders_features["prom"]==0]["has_bought"].sum()))
print("Umsatz: " + str(test_orders_features[test_orders_features["prom"]==0]["size"].sum()))

Erwartetes Kaufverhalten
Durch Kaufwahrscheinlichkeit OHNE Werbung: 0.3988949999999985
Durch Kaufwahrscheinlichkeit MIT  Werbung: 0.42132070781544023
Standardabweichung Kaufwahrscheinlichkeiten OHNE Werbung: 0.1736589177582668
Standardabweichung Kaufwahrscheinlichkeiten MIT  Werbung: 0.18746865229226192
Durch Warenkorb OHNE Werbung: 76.87146262367959
Durch Warenkorb MIT  Werbung: 83.43511597363124
Standardabweichung Warenkorb OHNE Werbung: 21.445292469900494
Standardabweichung Warenkorb MIT  Werbung: 21.41269602343225
Erwarteter Umsatz OHNE Werbung: 29.72248468131532
Erwarteter Umsatz MIT  Werbung: 34.47093450902921

Tatsächliches Kaufverhalten
1/2 der 10.000 Kunden wurde beworben
Anzahl Einkäufe: 4132
Umsatz: 322866.34591641306
durch Warenkorb: 78.13803144153269
Einkäufe in %: 41.32
Standardabweichung Einkäufe: 25.338183555797922

Verhalten der Kunden die Werbung bekommen haben
Anzahl Einkäufe: 2139
Umsatz: 174632.36253499443

Verhalten der Kunden die KEINE Werbung bekommen haben
Anzahl Einkäufe: 1993
Umsatz: 148233.9833814187